div(class="container-fluid px-0")
    nav(class='navbar fixed-top navbar-expand-lg navbar-light bg-light')
        
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
        span(class='navbar-brand mb-0 h1' href='/dashboard') LINX
        
        div(class='collapse' id='navbarSupportedContent')
            div(class="bg-dark p-4")
                h4(class='text-white') LINX
                span(class='text-muted') Die einfache Art Geld zu verdienen.

        
        div(class='collapse navbar-collapse' id='navbarSupportedContent')

            if isAuthenticated
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/dashboard') Dashboard
                    li(class='nav-item')
                        a(class='nav-link' href='/dashboard/checkout') Backlinks setzen
                    li(class='nav-item')
                        a(class='nav-link' href='/dashboard/status') Backlink Status
                    li(class='nav-item')
                        a(class='nav-link' href='/dashboard/transaction') Abrechnung
                    li(class='nav-item')
                        a(class='nav-link' href='/users/logout') Logout
                    div(class='dropdown-divider')
                     
            if !isAuthenticated
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' href='/users/login') Login
                    li(class='nav-item')
                        a(class='nav-link' href='/signup') Signup 