doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/all.css')
    link(rel='stylesheet' href='/css/style.css')

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    script(defer src='/js/jquery.min.js')
    script(defer src='/js/popper.min.js')
    script(defer src='/js/bootstrap.min.js')

  body
    include includes/menu.pug
    block content
    include includes/admin-menu.pug