body { background: crimson; }

@media (max-width: 575.98px) {}
@media (min-width: 576px) and (max-width: 767.98px) {}
@media (min-width: 768px) and (max-width: 991.98px) {}
@media (min-width: 992px) and (max-width: 1199.98px) {}
@media (min-width: 1200px) {}

button:focus { outline: none; }

/*
* Font Styling
*/
h1, h2, h3, h4, h5, h6 { font-size: 1.2rem; }

/**
* 1.0 Colors
*/
.fg-primary-text-color { color: #212529; }
.bg-primary-text-color { background: #212529; }
.bg-primary-white { background: #ffffff; }
.fg-primary-white { color: #ffffff; }
.bg-primary-blue { background: #003365; }
.fg-primary-blue { color: #003365; }
.bg-primary-red { background: rgb(187,0,0); }
.fg-primary-red { color: rgb(187,0,0); }
.fg-custom-gray-light { color: #dee2e6; }
.bg-custom-gray-light { background: #dee2e6; }
.fg-custom-gray-dark { color: #818a91; }
.bg-custom-gray-dark { background: #818a91; }

/**
* 2.0 Helper Classes
*/
.w__100 { width: 100px; }
.w__150 { width: 150px; }
.w__200 { width: 200px; }
.w__300 { width: 300px; }
.w__400 { width: 400px; }
.w__500 { width: 500px; }
.w__600 { width: 600px; }

.fs__0_8 { font-size: 0.8px; }
.fs__0_8_rem { font-size: 0.8rem; }
.fs__0_9 { font-size: 0.9px; }
.fs__0_9_rem { font-size: 0.9rem; }
.fs__1_0 { font-size: 1.0px; }
.fs__1_0_rem { font-size: 1.0rem; }
.fs__1_1 { font-size: 01.1px; }
.fs__1_1_rem { font-size: 1.1rem; }


/**
* 3.0 Forms and Elements
*/
.form-group .invalid-feedback {
  color: white;
}

