extends ../layout.pug
block content
  div(class='container py-3')

    if (flashMessageInfo.length > 0)
      div(class='row')
        div(class='col-sm-12 py-3')
          div(class='alert alert-danger')= flashMessageInfo

    div(class='row')
      div(class='col-sm-12')
        h1 DASHBOARD
    
    div(class='row')
      div(class='col-sm-6 py-3')
        a(href='/dashboard/checkout' class='btn bg-primary-white dashboard-button') 
          span Neue Backlinks setzen
      
      div(class='col-sm-6 py-3')
        a(href='/dashboard/status' class='btn bg-primary-white dashboard-button') 
          span Meine Backlinks: Status
    
    div(class='row')
      div(class='col-sm-6 py-3')
        a(href='/dashboard/checkout' class='btn bg-primary-white dashboard-button') 
          span Mein Profil
