if (item.status == 'open')
    span(class='badge badge-primary mr-1 fs__0_9_rem') open
if (item.status == 'edit')
    span(class='badge badge-warning mr-1 fs__0_9_rem') edit
if (item.status == 'submitted')
    span(class='badge badge-success mr-1 fs__0_9_rem') submitted
if (item.status == 'rejected')
    span(class='badge badge- mr-1 fs__0_9_rem') rejected
if (item.status == 'verified')
    span(class='badge badge-danger mr-1 fs__0_9_rem') verified